@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: inherit;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
}

::selection {
  background-color: #e0e0e0;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #333;
    color: #fff;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
